.main {
  
  width: 100%;
  position: relative;
  
}

.content {
  width: 1000px;
  height: 400px;
  padding: 20px 10px;
}

.marker {
  color: black;
  position: absolute;
  top: 0px;
  left: 140px;
  font-family: monospace;
}

.image {
  width: 100%;
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
